<section class="ui grid segment">
  <article class="twelve wide stretched column">
    <figure>
      <img src="images/shot_bird.png" class="ui medium image">
    </figure>
  </article>
  <article class="four wide column segment">
    <nav class="ui vertical fluid right menu">
      <a class="item" href="/signup" > Signup</a>
      <a class="item" href="/login">  Login</a>
    </nav>
  </article>
</section>