{{#mainMenu adminuser}}
  {{> mainmenu _id="home" }}
{{else}}
  {{> adminmenu _id="home" }}
{{/mainMenu}}
<section class="ui raised segment">
  <div class="ui container">
    <div class="ui two column padded stacked stackable grid segment">
      {{> tweetlist }}
  {{> topContributors }}
    </div>
  </div>
</section>