
  {{> welcomemenu }}

  <section class="ui stacked segment">
    <div class="ui grid">
      <article class="ten massive wide column">
        <h1>Welcome to your new Twitter client!</h1>
      </article>
    </div>
  </section>