{{#mainMenu adminuser}}
  {{> mainmenu _id="tweet" }}
{{else}}
  {{> adminmenu _id="tweet" }}
{{/mainMenu}}
<form class="ui reply form" action="/tweet" method="POST" enctype="multipart/form-data">
  <div class="field">
    <textarea value="{{tweet.text}}" name="tweetText"></textarea>
  </div>
  <div class="two fields">
    <div class="field">
      <label>add a picture</label>
      <input type="file" name="file">  </input>
    </div>
  </div>
  <button class="ui blue labeled submit icon button">
    <i class="icon edit" ></i> Tweet
  </button>
</form>
{{> formerror }}